@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: "Roboto";
  font-weight: 300;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #0052cc;
  text-transform: uppercase;
}

.input {
  margin-top: 1rem;
  padding: 0.75rem;
  width: 100%;
  font-size: 0.9rem;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
